# Python Basic

In [1]:
import pandas as pd

## 1. Data Type

### a. Int / Float

In [2]:
1 + 3

4

In [3]:
17 / 4

4.25

In [4]:
int(17 / 4), 17 // 4

(4, 4)

In [5]:
17 % 4

1

In [6]:
import math
math.sqrt(9)

3.0

In [7]:
e = math.e
math.log(e)

1.0

In [8]:
math.pow(2, 2), 2**2

(4.0, 4)

In [9]:
type(math.pow(2, 2)), type(2**2)

(float, int)

In [10]:
2.13e2

213.0

In [11]:
print("a = %0.5f, b = %5.0f" % (2018.0728, 2018.0728))

a = 2018.07280, b =  2018

### b. Bool

In [12]:
a = True
b = False

In [13]:
# OR
a + b, bool(a + b)

(1, True)

In [14]:
# AND
a*b, bool(a*b)

(0, False)

In [15]:
a == False, b == False

(False, True)

In [16]:
type( 1 != 1 )

bool

### c. String

In [17]:
a = "Hello?"
b = "World!"

In [18]:
type(a)

str

In [19]:
a[0]

'H'

In [20]:
a[1:]

'ello?'

In [21]:
a[-1]

'?'

In [22]:
a + b

'Hello?World!'

In [23]:
a + " " + b

'Hello? World!'

In [24]:
print("a = %s, b = %s" % (a, b))

a = Hello?, b = World!

## 2. IF/WHILE/FOR

### a. If

In [25]:
a = 2

In [26]:
if a == 1 :
    print("a is 1")
elif a==2 :
    print("a is 2")
else :
    print("a is not 1 or 2")

a is 2

### b. While

In [27]:
while a < 5 : 
    a = a + 1
    print(a)

3
4
5

In [28]:
b = 0 
while b < 10:
    b = b + 1
    if b % 2 != 0 :
        continue
    else :
        print(b, "는 2의 배수")

2 는 2의 배수
4 는 2의 배수
6 는 2의 배수
8 는 2의 배수
10 는 2의 배수

### c. For

In [29]:
for i in range(0, 10) :
    print(" a > ", i, " : ", a > i )

 a >  0  :  True
 a >  1  :  True
 a >  2  :  True
 a >  3  :  True
 a >  4  :  True
 a >  5  :  False
 a >  6  :  False
 a >  7  :  False
 a >  8  :  False
 a >  9  :  False

In [30]:
for i in range(0, 10, 2) :
    print(i)

0
2
4
6
8

## 3. Collection

### a. List

In [31]:
a = [1, 2, 3]
b = [4, 5, 6]

In [32]:
a + b

[1, 2, 3, 4, 5, 6]

In [33]:
a[0], b[0]

(1, 4)

In [34]:
a.append(4)

In [35]:
a

[1, 2, 3, 4]

In [36]:
del a[2:3]

In [37]:
a

[1, 2, 4]

In [38]:
a*2

[1, 2, 4, 1, 2, 4]

In [39]:
b.index(6)

2

In [40]:
for i, n in enumerate(b) :
    print(i, "th : ", n)

0 th :  4
1 th :  5
2 th :  6

### b. Dictionary

In [41]:
a = {}

In [42]:
a['Greet'] = 'Hello'

In [43]:
a['Response'] = 'Hi'

In [44]:
a.keys()

dict_keys(['Greet', 'Response'])

In [45]:
a.values()

dict_values(['Hello', 'Hi'])

In [46]:
a['Greet']

'Hello'

## 4. Def/Exception/Class

### a. Def

In [47]:
def add2(x) :
    return x + 2

In [48]:
add2(3)

5

In [49]:
add2('HELLO')

TypeError: can only concatenate str (not "int") to str

### b. Exception

In [50]:
def add2(x) :
    try :
        return x + 2
    except TypeError as e :
        print("ERROR occured", e)

In [51]:
add2(3)

5

In [52]:
add2('HELLO')

ERROR occured can only concatenate str (not "int") to str

### c. Class

In [53]:
class A():
    def __init__(self):
        print("Initialization A")
        
    def info(self):
        print("Info of A")

In [54]:
a = A()

Initialization A

In [55]:
a.info()

Info of A

## 5. Data Processing

### a. TXT to String

In [56]:
f = open("./data/sample.txt", 'r')
while True:
    line = f.readline()
    if not line: break
    print(line)
    print("<Enter>")
f.close()

자연어처리(NLP)는 사람이 내뱉은 비정형적 자연어를 컴퓨터가 이해할 수 있는 정형적 언어 데이터로 바꾸는 기술이다. 컴퓨터가 문장 의도를 이해하고 말한 사람 의도를 정확히 파악할 수 있도록 해주는 과정이다.

<Enter>


<Enter>
AI 서비스에서 NLP는 중요한 부분을 차지한다. 컴퓨터가 자연어를 문법상 의미 최소 단위인 형태소로 분해(파싱)해 언어학적 구조를 패턴화, 전체 의미를 파악하도록 해준다. 하나의 품사에 여러 모호성을 해소하는 품사 태깅, 불용어 제거, 기계번역, 대화시스템에 이르기까지 모든 과업을 수행한다.

<Enter>


<Enter>
최근에는 딥러닝 기반 NLP 연구가 늘고 있다. 단어 단위가 아닌 문장 전체 맥락에서 의미를 추론할 수 있게 됐다. 딥러닝을 적용하기 위해서는 말뭉치(코퍼스, Corpus)라는 학습용 언어 데이터를 필수로 확보해야 한다.

<Enter>


<Enter>
NLP를 기반으로 한 음성인식 기술은 대용량 음성 데이터를 저장하고 실시간으로 처리 가능한 네트워크와 컴퓨팅 기술로 크게 진화하고 있다. 음성인식 기술 핵심은 상대방과 대화를 계속 이어가는 것이다.
<Enter>

In [57]:
f = open("./data/sample.txt", 'r')
lines = f.read()
print(lines)
f.close()

자연어처리(NLP)는 사람이 내뱉은 비정형적 자연어를 컴퓨터가 이해할 수 있는 정형적 언어 데이터로 바꾸는 기술이다. 컴퓨터가 문장 의도를 이해하고 말한 사람 의도를 정확히 파악할 수 있도록 해주는 과정이다.

AI 서비스에서 NLP는 중요한 부분을 차지한다. 컴퓨터가 자연어를 문법상 의미 최소 단위인 형태소로 분해(파싱)해 언어학적 구조를 패턴화, 전체 의미를 파악하도록 해준다. 하나의 품사에 여러 모호성을 해소하는 품사 태깅, 불용어 제거, 기계번역, 대화시스템에 이르기까지 모든 과업을 수행한다.

최근에는 딥러닝 기반 NLP 연구가 늘고 있다. 단어 단위가 아닌 문장 전체 맥락에서 의미를 추론할 수 있게 됐다. 딥러닝을 적용하기 위해서는 말뭉치(코퍼스, Corpus)라는 학습용 언어 데이터를 필수로 확보해야 한다.

NLP를 기반으로 한 음성인식 기술은 대용량 음성 데이터를 저장하고 실시간으로 처리 가능한 네트워크와 컴퓨팅 기술로 크게 진화하고 있다. 음성인식 기술 핵심은 상대방과 대화를 계속 이어가는 것이다.

### b. EXCEL to Dataframe

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language.

In [58]:
import pandas as pd

In [59]:
xlsx = pd.read_excel('./data/sample.xlsx', sheet_name=0)

In [60]:
xlsx

        이름  국어성적  수학성적
0     강다니엘    10    55
1      강동호    20    60
2      강미나    50    75
3      권현빈    80    90
4      김도연    90    95
5     김사무엘    70    85
6      김세정    60    80
7      김소혜    60    80
8      김청하    30    65
9      노태현    90    95
10    라이관린    30    65
11     박우진    30    65
12     박지훈    70    85
13     배진영   100   100
14     옹성우    90    95
15     유연정    10    55
16     임나영    40    70
17     전소미    30    65
18     정채연    80    90
19     주결경    90    95
20     주학년    10    55
21     최유정    80    90
22  타카다 켄타    20    60
23     하성운    90    95

### c. CSV to DataFrame

In [61]:
csv = pd.read_csv('./data/sample.csv', header=0, sep=',', encoding='euc-kr')

In [62]:
csv

        이름  국어성적  수학성적
0     강다니엘    10    55
1      강동호    60    80
2      강미나     0    50
3      권현빈    20    60
4      김도연    60    80
5     김사무엘    30    65
6      김세정    60    80
7      김소혜    60    80
8      김청하    10    55
9      노태현    40    70
10    라이관린    70    85
11     박우진    10    55
12     박지훈    30    65
13     배진영     0    50
14     옹성우    20    60
15     유연정    60    80
16     임나영    90    95
17     전소미     0    50
18     정채연     0    50
19     주결경    90    95
20     주학년    10    55
21     최유정    90    95
22  타카다 켄타    60    80
23     하성운    10    55

### d. DataFrame to Numpy

NumPy offers comprehensive mathematical functions, random number generators, linear algebra routines, Fourier transforms, and more.

In [63]:
import numpy as np

In [64]:
data = xlsx.values

In [65]:
type(data)

numpy.ndarray

In [66]:
data

array([['강다니엘', 10, 55],
       ['강동호', 20, 60],
       ['강미나', 50, 75],
       ['권현빈', 80, 90],
       ['김도연', 90, 95],
       ['김사무엘', 70, 85],
       ['김세정', 60, 80],
       ['김소혜', 60, 80],
       ['김청하', 30, 65],
       ['노태현', 90, 95],
       ['라이관린', 30, 65],
       ['박우진', 30, 65],
       ['박지훈', 70, 85],
       ['배진영', 100, 100],
       ['옹성우', 90, 95],
       ['유연정', 10, 55],
       ['임나영', 40, 70],
       ['전소미', 30, 65],
       ['정채연', 80, 90],
       ['주결경', 90, 95],
       ['주학년', 10, 55],
       ['최유정', 80, 90],
       ['타카다 켄타', 20, 60],
       ['하성운', 90, 95]], dtype=object)

In [67]:
korean_score = data[:, 1]

In [68]:
print("합 : ", np.sum(korean_score))
print("평균 : ", np.mean(korean_score))
print("표준편차 : ", np.std(korean_score))
print("최대값 : ", np.max(korean_score))

합 :  1330
평균 :  55.416666666666664
표준편차 :  30.135688514155806
최대값 :  100